body {
    font-family: sans-serif;
    margin: 0;
    justify-content:space-evenly;
}
header {
    background: purple;
    height: 100px
}
h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}
section {
    zoom: 0.8;
}
article {
    min-width: 44%;
    padding: 10px;
    margin: 10px;
    background: aqua;
}
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: stretch;
}